<div class="container">
    <p class="heading text-center">Blog</p>

    <div class="flex article-list justify-center wrap">
        {% for post in collections.posts %}
        <a href="{{ post.url | url }}" class="post flex column space-between">
            <img src="{{ post.data.featuredImage | url }}" alt="featured-image">
            
            <div class="details">
                <strong>
                    {{ post.data.title }}
                </strong>
                <span>
                    {{ post.data.description }}
                </span>
            </div>
            
        </a>
           
        {% endfor %}
    </div>
</div>