
<div class="container">
    <p class="heading text-center">Testimonials</p>
    
    <div class="flex testimonial-list justify-center">
        {% for post in collections.testimonials %}

            <div class="testimonial-item">
                <p class="title">{{post.data.title}}</p>

                <div class="testimonial">
                    {{ post.templateContent  | safe }}          
                </div>  

                <p class="author">{{ post.data.author }}</p>
            </div>
            
        {% endfor %}
    </div>

</div>