
header {
    border-bottom: $neon-pink double;
    margin-bottom: 40px;

    .title {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font-secondary;
        
    }

    .menu {
        a:not(.close) {
            color: $neon-green;
            text-decoration: none;
            margin-right: 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            transition: all 0.5s ease;

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: $neon-pink;
                height: 1px;
                transition: all 0.5s ease;
            }

            &:hover {
                color: $neon-pink;

                &:after {
                    width: 100%;
                }
            }
        }
    }

    .menu-toggle, .close {
        display: none;
    }
}

body.home {
    header {
        margin-bottom: 0;
    }
}