body {
    margin: 0;
    font-family: $font-primary;
    background: $black;
    color: $white;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    max-width: 1920px;
    margin: auto;
    padding: 0 40px;
}

.section {
    padding: 40px 0;
}

.main-content {
    min-height: 80vh;
    padding-bottom: 40px;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.column {
        flex-direction: column;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full {
    width: 100%;
}

.heading {
    font-size: 1.5em;
    font-family: $font-secondary;
    text-transform: uppercase;
    margin: 30px 0;
}

.pagination {
    >* {
        color: $white;
        margin: 0 10px;
        font-size: 1.5em;
    }

    a:hover {
        color: $neon-pink;
    }

    span {
        color: darken($white, 40%);
    }
}

.breadcrumbs {
    margin: 20px 0 40px;
    * {
        font-size: 0.875em;
    }

    a {
        color: $white;
        text-decoration: none;

        &:after {
            content: ' > ';
        }
    }

    span { 
        color: $neon-green;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;

    li {
        margin: 0 5px;

        button {
            font-size: 0;
            background: transparent;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: solid 1px $neon-pink;
            padding: 0;
            transition: background 0.5s ease;
        }

        &.slick-active {
            button {
                background: $neon-pink;
            }
        }
    }
}