body {
    margin: 0;
    font-family: $font-primary;
    background: $black;
    color: $white;
    font-weight: 400;
}

.container {
    max-width: 1920px;
    margin: auto;
    padding: 0 40px;
}

.main-content {
    min-height: 80vh;
    padding-bottom: 40px;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.column {
        flex-direction: column;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full {
    width: 100%;
}

.heading {
    font-size: 1.5em;
    font-family: $font-secondary;
    text-transform: uppercase;
    margin: 30px 0;
}

.pagination {
    >* {
        color: $white;
        margin: 0 10px;
        font-size: 1.5em;
    }

    a:hover {
        color: $neon-pink;
    }

    span {
        color: darken($white, 40%);
    }
}