@media (max-width: $screen-xlg) {

}

@media (max-width: $screen-lg) {
    header {
        position: relative;

        .title {
            font-size: 1.125em;
        }

        .menu-toggle {
            display: block;
            background: transparent;
            border: none;
            box-shadow: none;
            color: $neon-green;
            padding: 0;
            border-radius: 3px;
            font-size: 1.75em;
        }

        .menu {
            position: absolute;
            height: 100vh;
            z-index: 1;
            right: -400px;
            top: 0;
            display: flex;
            flex-direction: column;
            background: $black;
            padding: 20px;
            transition: right 0.5s ease;

            &.active {
                right: 0;
            }

            a {
                margin-bottom: 10px;
            }
        }

        .close {
            display: block;
            margin: 0 0 0 auto;
            color: $neon-green;
            font-size: 1.5em;
        }
    }
}

@media (max-width: $screen-md) {

}

@media (max-width: $screen-sm) {

}

@media (max-width: $screen-xs) {

}