.post-inner {
    header {
        width: 100%;
    }

    .container {
        img {
            width: auto;
            display: block;
            margin: 40px auto;
            max-width: 100%;
        }
    }
}

.posts {
    .heading {
        margin-bottom: 50px;
    }
}

.article-list {
    margin-bottom: 40px;

    .post {
        width: 28%;
        border: solid 1px $neon-pink;
        border-radius: 5px;
        margin: 0 10px 20px;
        height: inherit;
        transition: border-color 0.5s ease;
        align-content: center;
        overflow: hidden;

        a {
            color: $white;
            width: 100%;
            text-decoration: none;

            &:hover {
                border-color: $neon-green;
            }
        }

        img {
            display: block;
            margin-bottom: 10px;
            height: 140px;
            width: auto;
        }

        strong {
            display: block;
        }

        span {
            font-size: 0.875em;
        }

        .details {
            padding: 10px;
            width: 100%;
        }
    }
}