.testimonial-list {
    flex-wrap: wrap;
    margin-top: 40px;

    .testimonial-item {
        width: 45%;
        border: solid 1px $neon-green;
        margin: 0 10px 40px;
        padding: 20px;
        border-radius: 5px;
        height: inherit;
    }

    .title {
        font-weight: 700;
        font-size: 1.125em;
    }

    .testimonial {
        font-size: 0.75em;
        font-style: italic;
        line-height: 2;
    }
}

.testimonials {
    .heading {
        margin-bottom: 50px;
    }
}