.widgets .container {
    .flex {
        align-items: flex-start;

        >* {
            margin-right: 20px;
            width: 50%;
        }
    }

    iframe {
        width: 100%;
    }

    .heading {
        line-height: 1.5;
        
        &:after {
            content: '';
            width: 50px;
            height: 4px;
            background: $neon-pink;
            display: block;
            margin-top: 10px;
        }
    }
}