.ed-svg-container {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 350px;
}

.ed-svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-container text {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #343434;
	font-size: 17px;
	letter-spacing: 0;
}

.ed-container {
	width:100%;
}

.tick text{
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #000;
}
