
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />

        <meta name="description"
            content="{{description}}" />
        <meta property="og:title" content="{{title}}" />
        <meta property="og:site_name" content="Temasek Review 2021" />
        <meta property="og:url" content="https://www.temasekreview.com.sg/" />
        <meta property="og:type" content="website" />
        <meta property="og:description"
            content="{{description}}" />

        <meta property="og:image" content="https://www.temasekreview.com.sg/images/social/index-en.jpg" />
        <meta property="og:locale" content="en_SG" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@Temasek" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:url" content="https://www.temasekreview.com.sg/" />
        <meta name="twitter:description"
            content="{{description}}" />
        <meta name="twitter:image:src" content="https://www.temasekreview.com.sg/images/social/index-en.jpg" />
        <meta name="twitter:creator" content="@Temasek" />

        <link rel="canonical" href="https://www.temasekreview.com.sg/" />
        <link rel="alternate" hreflang="x-default" href="https://www.temasekreview.com.sg/" />
        <link rel="alternate" hreflang="zh" href="https://www.temasekreview.com.sg/zh/" />

        <title>{{title}}</title>

        {% include './includes/styles.njk' %}

        <link rel="preload" media="(min-width: 1800px)" as="image" href="{{ '/images/homepage/banner.jpg' | url }}" />
        <link rel="preload" media="(max-width: 1799px)" as="image" href="{{ '/images/homepage/banner-v2.jpg' | url }}" />
    </head>
    <body class="{{ slug }}">
        {% include './includes/header.njk' %}
        
        <div class="main-header__border-bar"></div>


        {{ content | safe }}

        {% include './includes/footer.njk'%}

         <div class="video-overly" id="overlay">
            <div class="video-wrapper">
                <a class="close media-close" href="#"></a>
            </div>
        </div>
        
        {% include './includes/scripts.njk' %}
        
    </body>
</html>