---
layout: layouts/base.njk
slug: home
title: Home
---

<img src="{{ banner | url }}" alt="banner" class="full banner">

<div class="container">
    <div class="text-center">
        {{ intro | markdown | safe }}
    </div>

    {% if fp_show %}
        <div class="section">
            <p class="heading text-center">
                {{ fp_heading }}
            </p>
            
            <div class="flex article-list justify-center">
                {% set count = 1 %}
                {% for post in collections.posts %}

                    {% if post.data.isFeatured and count <= fp_count %}
                        <div class="post ">
                        <a href="{{ post.url | url }}" class="flex column">
                            <img src="{{ post.data.featuredImage | url }}" alt="featured-image">
                            
                            <div class="details">
                                <strong>
                                    {{ post.data.title }}
                                </strong>
                                <span>
                                    {{ post.data.description }}
                                </span>
                            </div>
                        </a>
                        </div>
                        {% set count = count + 1 %}

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="outro">
        {{ outro | markdown | safe }}
    </div>

    {% if ft_show %}
        <div class="testimonials section">
            <p class="heading text-center">
                {{ ft_heading }}
            </p>
            
            {% set count = 1 %}
            {% for post in collections.testimonials %}

                {% if count <= ft_count %}

                    <div class="testimonial-item">
                    <p class="title">{{post.data.title}}</p>

                    <div class="testimonial">
                        {{ post.templateContent | markdown | safe }}  
                    </div>  

                    <p class="author">{{ post.data.author }}</p>
                </div>

                    {% set count = count + 1 %}

                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>