---
layout: layouts/base.njk
slug: widgets
---
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        <span>{{ title }}</span>
    </div>

    {{ content | safe }}

    <div class="section flex">
        <div>
            <p class="heading">{{ code_heading }}</p>
            {{ code.code }}
        </div>
        
        <div>
            <p class="heading">{{ color_heading }}</p>
            <div class="flex ">
                <span style="background-color: {{ color }}; width: 20px; height: 20px; display: block; margin-right: 10px;"></span> {{ color }} 
            </div>
        </div>
    </div>

    <div class="section flex">
        <div>
            <p class="heading">{{ date_heading }}</p>
            {{date_ex}}
        </div>
        
        <div>
            <p class="heading">{{ datetime_heading }}</p>
            {{datetime}}
        </div>
    </div>

    <div class="section flex">
        <div>
            <p class="heading">{{ file_heading }}</p>
            <a href="{{file | url}}" target="_blank">Download</a>
        </div>

        <div>
            <p class="heading">{{ image_heading }}</p>
            <img src="{{image |url}}" alt="">
        </div>
    </div>

    <div class="section flex">
        <div>
            <p class="heading">{{ list_heading }}</p>
            <ul>
                {% for item in list %}
                    <li>{{item.quote}} - {{item.author}}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <p class="heading">{{ map_heading }}</p>

            <div class="map"></div>

            <input type="hidden" value="{{map}}" class="coords">
        </div>
    </div>

    <div class="section flex">
        <div>
            <p class="heading">{{ object_heading }}</p>
            <ul>
                <li>{{ profile.name }}</li>
                <li>{{ profile.birthdate }}</li>
                <li>{{ profile.address.street }} {{ profile.address.city }} {{ profile.address.postcode }}</li>
            </ul>
        </div>

        <div>
            <p class="heading">{{ relation_heading }}</p>
            {{favorite_post}}
        </div>
    </div>

    <div class="section flex">
        <div>
            <p class="heading">{{ select_heading }}</p>
            <ul>
                <li>{{ profile.name }}</li>
                <li>{{ profile.birthdate }}</li>
                <li>{{ profile.address.street }} {{ profile.address.city }} {{ profile.address.postcode }}</li>
            </ul>
        </div>

        <div>
            <p class="heading">{{ relation_heading }}</p>
            {{airport_code}}
        </div>
    </div>

</div>
