---
layout: /layouts/overview/index.njk
---

<div class="contentpage-body dash-above">
    {% for item in sections %}
        {% if item['separator'] == 'true' %}
            <div class="dash-above margin-top70">
        {% endif %}

        {% if item['title']  %}
        <h2 data-quick-links-item="{{item['title']}}" id="quicklink-{{loop.index}}">
            {{ item['title'] }}
        </h2>
        {% endif %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                   
                </div>
                <div class="col-4">
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}

         {% if item['separator'] == 'true' %}
            </div>
        {% endif %}
    {% endfor %}


    <p>
        Successive waves of COVID-19 outbreaks peaked higher and higher, for most of 2020 and well into the
        first half of 2021. Lives and livelihoods were devastated around the world. The unexpected early successes
        of COVID-19 vaccines offered a ray of hope, clouded by production capacity constraints. However, the more
        infectious new variants of concern are now threatening to outpace vaccination deliveries.
    </p>
    <p>
        Even as Temasek shouldered its part in <a href="/steward/rising-above-covid-19.html">various pandemic initiatives</a>, we kept a full agenda as an <a href="https://www.temasek.com.sg/en/who-we-are/our-charter" target="_blank" rel="noopener noreferrer">investor, institution and steward</a>.
    </p>

    <p>
        Looking ahead, we expect policymakers to remain accommodative.
        <a href="https://www.imf.org/en/Publications/WEO/Issues/2021/03/23/world-economic-outlook-april-2021"
            target="_blank" rel="noopener noreferrer">Global growth may touch 6% in 2021 after the -3.3% decline in 2020</a>.
    </p>

    <p>
        The pandemic has exacerbated the ongoing US-China strategic rivalry. This geopolitical uncertainty will be
        a drag on the investment climate and economic confidence.
    </p>
    <p>
        Other longer term global threats have not gone away. The window is closing rapidly on the carbon abatement
        front. We are <a href="/pathways-to-sustainability/towards-a-sustainable-future.html">nearing the tipping point</a> for melting glaciers.
    </p>

    <p>
        Our world has changed. It is not a sustainable option to bounce back to &ldquo;business as usual&rdquo;.
        We must all pull together, and bounce <em>forward</em> into a new norm for
        better lives and more sustainable livelihoods.
    </p>



    <p>
        The world came together to deliver solutions to the pandemic threat, however untidy
        the politics and fractious the nationalistic urges. We can and must do the same to <a href="/pathways-to-sustainability/measuring-and-tracking-portfolio-emissions.html">reduce carbon emissions</a>,
        and improve food, water, energy and waste management.
    </p>

    <p>
        Temasek can work to catalyse solutions to key global challenges. We will deploy <a href="/overview/our-financials-and-portfolio.html"><em>financial capital</em></a> to stimulate
        innovation and growth; develop <a href="/overview/onetemasek-our-people.html"><em>human capital</em></a> to uplift capabilities and enhance potential; enable <a href="/overview/towards-a-net-zero-world.html"><em>natural capital</em></a> to foster sustainable solutions for the climate and a better living environment; and crowd in
        <a href="/overview/uplifting-lives-and-communities.html"><em>social capital</em></a> to transform lives for a more inclusive and resilient world.
    </p>

    <h2 class="dash-above margin-top70" data-quick-links-item="Portfolio Performance" id="portfolio-performance">
        Portfolio Performance
    </h2>

    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                It was an active year, despite pandemic lockdowns and travel restrictions. We <a href="/investor/investment-update.html">invested S$49 billion and divested S$39 billion</a>: record numbers on both counts.
            </p>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    S$381b<br />
                    Net portfolio value<br />
                    as at 31 March 2021<br />
                </p>
            </div>

            <p>
                As at 31 March 2021, our <a href="/overview/performance-overview.html">net portfolio value</a> was <span class="tooltip" title="US$283 billion, &euro;241 billion, &pound;206 billion and RMB1.86 trillion as at 31 March 2021." data-title="US$283 billion, &euro;241 billion, &pound;206 billion and RMB1.86 trillion as at 31 March 2021.">S$381 billion</span>, up S$75 billion over the previous year. Our portfolio saw healthy investment returns, including from payments, technology and life sciences, especially in markets like China and the US. In addition, several of our unlisted companies went public as markets rebounded.
            </p>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    S$49b<br />
                    Invested<br />
                    for the year<br />
                </p>
            </div>

            <p>
                One-year <a href="/investor/total-shareholder-return.html">Total Shareholder Return (TSR)</a> was 24.53%. Our longer term <span class="no-break">10-year</span> and 20-year TSRs were 7%
                and 8% respectively. <a href="/investor/how-we-grew.html">TSR since inception in 1974</a> was 14%.
            </p>

            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    S$39b<br />
                    Divested<br />
                    for the year<br />
                </p>
            </div>
            <p>
                The resilience of our portfolio remains a core strength. We invested through the year, to strengthen our portfolio
                against a more disruptive world. We expect that rapid technological changes will upend business models,
                with climate risks becoming more pressing.
            </p>
        </div>
        <div class="col-4">
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                <p>
                    S$381b<br />
                    Net portfolio value<br />
                    as at 31 March 2021<br />
                </p>
            </div>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                <p>
                    S$49b<br />
                    Invested<br />
                    for the year<br />
                </p>
            </div>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                <p>
                    S$39b<br />
                    Divested<br />
                    for the year<br />
                </p>
            </div>
        </div>
    </div>




    <h2 class="dash-above margin-top70" data-quick-links-item="Forging Resilience" id="forging-resilience">
        Forging Resilience
    </h2>

    <p>It is adversity that brings out the strengths and values of our people.</p>

    <p>
        I am immensely proud that our staff have volunteered tirelessly, thoughtfully and selflessly during the
        <span class="no-break">COVID-19</span> pandemic. Their efforts have helped people keep safe and cope in these trying times.
    </p>
    <p>
        Temasek actively enabled various cross-border COVID-19 initiatives. During the first outbreak in Wuhan early last year,
        we facilitated the provision of equipment and supplies to China. Later, we supported the reverse flow of critical
        supplies from China to various places in dire need, including <a href="/steward/rising-above-covid-19.html#enablement">most recently to India</a>.
    </p>

    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                Our staff worked closely with colleagues from <a href="https://www.temasekfoundation.org.sg/" target="_blank" rel="noopener noreferrer">Temasek Foundation</a> and other partners to <a href="/steward/rising-above-covid-19.html">support COVID-19 initiatives in five key areas</a>: testing &amp; diagnosis, containment &amp; contact tracing, care &amp; treatment, protection &amp; prevention, and enablement. They brought their skills and knowledge, networks and organisational experience, friendship and goodwill, and tenacity and persistence, to connect people, find solutions, and make things happen.
            </p>
        </div>
        <div class="col-4 v-centre">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    Staff efforts have helped people keep safe and cope in these trying times.
                </p>
            </div>
        </div>
    </div>
    <p>
        Indeed, several staff were on the swabbing frontlines supporting the testing and sorting operations for migrant workers in the dormitories, to protect them and contain the massive dormitory outbreak. Others quietly helped to keep supply lines open, or supported other initiatives.
    </p>
    <p>
        Initiatives in diagnosis ranged from new test kits to be developed, to production to be scaled; from expanding
        lab capacity in Singapore, to supporting lab capabilities beyond; from seeding novel wastewater sampling testing,
        to stepping up lab automation for throughput, safety and capacity. Some 6,300 kits for over 1 million diagnostic tests,
        and various lab equipment, were donated to over 40 countries in Asia and elsewhere.
    </p>
    <p>
        An early initiative in containment was the pre-emptive development of Community Care Facilities for younger
        &ldquo;Walking Well&rdquo; patients with mild or no symptoms &mdash; these greatly relieved the pressure
        on hospital beds. Other efforts in containment &amp; contract tracing included pilots in Singapore like the mass
        community COVID-19 screening of some 5,700 hawkers, cleaners, and retail workers; and the use of the Antigen
        Rapid Test to pre-screen large scale events like the Singapore International Energy Week; as well as various
        contact tracing solutions.
    </p>



    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                While Temasek is not on the frontlines of treatment, we worked proactively with Temasek Foundation to support
                communities and hospitals around the region, as well as further afield in Latin America and the Middle East.
                Donations ranged from oximeters, oxygen concentrators, and BiPAP positive airway pressure machines,
                to <span class="no-break">ICU-grade</span> ventilators and ECMO &ldquo;artificial lung&rdquo; machines. More recently, we facilitated the
                rapid supply of cryogenic tanks and donated more oxygen-related equipment to India, during their massive
                outbreak in the second quarter of 2021.
            </p>
        </div>
        <div class="col-4 v-centre">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    We worked proactively with Temasek Foundation to support communities and hospitals around the region.
                </p>
            </div>
        </div>
    </div>

    <p>
        The mainstays for protection &amp; prevention are personal protective equipment, or PPEs, and hand sanitisers.
        These saw massive shortages last year.
    </p>

    <p>
        We supported Temasek Foundation through four nationwide exercises for Singapore residents to collect over
        30 million <a href="https://stayprepared.sg/staymasked/" target="_blank" rel="noopener noreferrer">free reusable, washable, antiviral, and antibacterial face masks</a>. Regional PPE donations ranged
        from reusable or single use masks for the community, to hospital grade items such as full protection hazmat
        suits and N95 respirators, to gowns, gloves, goggles and others.
    </p>

    <p>
        The <a href="https://stayprepared.sg/byobclean/" target="_blank" rel="noopener noreferrer">#BYOBclean</a> pilot, launched in March last year, encouraged families to &ldquo;Bring Your Own Bottles&rdquo;,
        clean and ready to collect their free allocation of hand sanitiser. This was followed by a second nationwide
        free collection in April this year. Regional partners helped us cover Johor and the Riau Islands nearby.
        In all, more than <span class="no-break">1.3 million</span> litres of hand sanitiser were distributed for free, including to hospitals,
        residential care homes, and migrant workers.
    </p>

    <p>
        Reusable mask distributions and #BYOBclean programmes also serve as reminders to reduce plastic waste.
    </p>

    <p>
        Our portfolio companies also played their part. During the second half of 2020, Temasek Foundation <a href="https://www.temasekfoundation.org.sg/media/singapore-airlines-and-temasek-foundation-partner-to-support-world-food-programme-and-the-global-covid-19-response/" target="_blank" rel="noopener noreferrer">worked with Singapore Airlines to sponsor flights for the World Food Programme</a>. Some 40 flights carried PPEs plus other essential medical supplies and humanitarian items, to various points in Asia and the Pacific.
    </p>

    <p>
        As demand for pre-travel testing increased, we connected our digital credentials technology company,
        <a href="https://www.affinidi.com/" target="_blank" rel="noopener noreferrer">Affinidi</a>, with global aviation industry partners and government agencies. The company has since <a href="https://www.affinidi.com/blogs/affinidi-the-commons-project-partnership" target="_blank" rel="noopener noreferrer">formed partnerships</a> with industry leaders in the US, Europe, the Middle East and Asia Pacific, to enable safe cross-border travel solutions with mobile digital verification of health credentials including test and
        vaccination status.
    </p>

    <h2 class="dash-above margin-top70" data-quick-links-item="Steering through Volatility
    " id="steering-through-volatility">
        Steering through Volatility

    </h2>

    <p>
        Major economies are now starting to relax lockdown measures, as vaccination brings some early successes.
        Growth could be strong this year and next.
    </p>

    <p>
        The pace of recovery will likely be uneven across countries. Many emerging economies are still
        struggling with new peaks of infections, high hospitalisation numbers and slow vaccination rates.
        Uncertainty still remains, not least from the doubly contagious new variants, with potentially worse virulence.
    </p>

    <p>
        In the US, the quick vaccination pace has cooled down infections, hospitalisations and deaths.
        Activities are normalising swiftly. <a href="https://www.whitehouse.gov/american-rescue-plan/" target="_blank" rel="noopener noreferrer">Extraordinary</a> <a href="https://www.congress.gov/bill/116th-congress/senate-bill/3548/text" target="_blank" rel="noopener noreferrer">fiscal</a> <a href="https://www.congress.gov/bill/116th-congress/house-bill/133/text" target="_blank" rel="noopener noreferrer">stimulus</a> and <a href="https://www.federalreserve.gov/newsevents/pressreleases/monetary20210616c.htm" target="_blank" rel="noopener noreferrer">accommodative Fed policy</a>
        will bolster this recovery. Real Gross Domestic Product is expected to return to pre-COVID levels
        this year, though inflation <a href="/investor/how-we-manage-risks.html">risks</a> may dampen medium term prospects.
    </p>

    <p>
        Europe has entered into a double-dip recession in the first quarter of 2021. However, the accelerated
        vaccine rollout and the consequent easing of restrictions are now facilitating a recovery in activity,
        especially in the services and tourism sectors. The pandemic lockdowns built up excess savings.
        This will fuel pent-up demand to spur a pickup in consumption growth. The <a href="https://ec.europa.eu/info/strategy/recovery-plan-europe_en" target="_blank" rel="noopener noreferrer">Recovery Fund</a> will
        stimulate investments later this year.
    </p>

    <p>
        <a href="http://english.www.gov.cn/news/topnews/202106/17/content_WS60ca83a8c6d0df57f98db60b.html" target="_blank" rel="noopener noreferrer">China&rsquo;s economic recovery</a> continues apace. Its focus is shifting towards sustainable growth
        for the longer term. The very loose policy stance during the pandemic is being pulled back into a
        broadly neutral gear. Any further policy tightening is more likely to be <a href="http://english.www.gov.cn/statecouncil/ministries/202105/13/content_WS609c7adac6d0df57f98d96de.html" target="_blank" rel="noopener noreferrer">calibrated</a> than abrupt.
    </p>

    <p>
        Singapore&rsquo;s economy is <a href="https://www.mti.gov.sg/Newsroom/Press-Releases/2021/05/MTI-Maintains-2021-GDP-Growth-Forecast-at-4_0-to-6_0-Per-Cent" target="_blank" rel="noopener noreferrer">on the mend</a>. Sectors such as manufacturing, and professional, financial,
        and technological services, continue to show strength. However, recovery in other sectors such as travel
        and leisure, will be muted and vulnerable to any resurgences in community infections. Policy remains
        <a href="https://www.mas.gov.sg/news/monetary-policy-statements/2021/mas-monetary-policy-statement-14apr21" target="_blank" rel="noopener noreferrer">accommodative</a> overall. <a href="https://www.mas.gov.sg/regulation/covid-19" target="_blank" rel="noopener noreferrer">Fiscal support</a> remains targeted at sectors most impacted by ongoing border
        restrictions or renewed safe management measures. <a href="https://www.mof.gov.sg/singaporebudget" target="_blank" rel="noopener noreferrer">Policies</a> and <a href="https://emergingstronger.sg/" target="_blank" rel="noopener noreferrer">efforts</a> to accelerate restructuring
        and transformation should position Singapore well in the medium term.
    </p>
    <p>
        We should expect COVID-19 to become endemic, and prepare to live with it.
    </p>

    <h2 class="dash-above margin-top70" data-quick-links-item="Bouncing Forward to a Better Tomorrow" id="bouncing-forward-to-a-better-tomorrow">
        Bouncing Forward to a Better Tomorrow
    </h2>

    <p>
        COVID-19 has not derailed our ambition to be future ready. The pandemic has accelerated the longer term trends that drove our investment posture. During the year, we have refreshed and sharpened <a href="/investor/how-we-invest.html">our focus around the trends</a> of digitisation, sustainable living, future of consumption, and longer
        lifespans.
    </p>

    <p>
        We continue to shape our portfolio for resilience in anticipation of future threats and opportunities.
        The goal is to sustain our performance, generate risk-adjusted returns over the long term,
        and mitigate climate risks.
    </p>

    <p>
        Our Artificial Intelligence (AI) and Blockchain pods have made significant strides with ventures
        such as Affinidi and a new Centre of Excellence in AI. Our new Strategic Development workstream is
        already investing further upstream in emerging science and technology innovation.
    </p>

    <p>
        One major thrust is our engagement with <a href="/investor/investment-update.html">our portfolio companies</a> to prepare for future challenges
        and disruptive opportunities.
    </p>

    <p>
        During the year, we invested in <a href="https://www.sembmarine.com/" target="_blank" rel="noopener noreferrer">Sembcorp Marine</a> as part of its demerger from <a href="https://www.sembcorp.com/en/" target="_blank" rel="noopener noreferrer">Sembcorp Industries</a>.
        This will enable both companies to sharpen clarity and focus in their respective domains.
        We participated in <a href="https://www.singaporeair.com/en_UK/sg/about-us/information-for-investors/rights-issue/" target="_blank" rel="noopener noreferrer">capital raising by Singapore Airlines</a>, to weather the COVID-19 storm, and
        prepare for a post-COVID world ahead.
    </p>

    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                In 2020, we established two new offices in Brussels, Belgium, and Shenzhen, China. This brings
                our total office locations to 13 around the world. Our Brussels office will help us track
                developments and gain insights into key policy areas within the European Union, and to build
                deeper institutional relations. Our office in Shenzhen will tap on growth opportunities in the
                Greater Bay Area, and complement our existing presence in Beijing and Shanghai.
            </p>
        </div>
        <div class="col-4 v-centre">
            <div class="contentpage-highlight contentpage-mobile--m-t-0">
                <p>
                    We established two new offices in Brussels, Belgium, and Shenzhen, China.
                </p>
            </div>
        </div>
    </div>

    <h2 class="dash-above margin-top70" data-quick-links-item="Accelerating to a Sustainable World" id="accelerating-to-a-sustainable-world">
        Accelerating to a Sustainable World <br />
        <small>Sustainability remains at the core of all that we do.</small>
    </h2>


    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                We had delivered <a href="/pathways-to-sustainability/enabling-a-sustainable-company.html">carbon neutrality</a> as a company since two years ago. We aim to reduce the <a href="/pathways-to-sustainability/measuring-and-tracking-portfolio-emissions.html">net emissions of our portfolio</a> to half the 2010 levels by 2030. This signals our ambition for net
                zero emissions by 2050. We have redirected part of <a href="/institution/instilling-ownership.html#co-ownership-alignment">our long term incentives</a> towards our <span class="no-break">10-year</span>
                carbon reduction targets.
            </p>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    We have redirected part of our long term incentives towards our <span class="no-break">10-year</span> carbon reduction targets.
                </p>
            </div>

            <p>
                In April this year, we <a href="https://www.temasek.com.sg/en/news-and-views/news-room/news/2021/temasek-blackrock-launch-decarbonization-partnership" target="_blank" rel="noopener noreferrer">announced a partnership with BlackRock</a> to advance decarbonisation solutions
                and accelerate global efforts for a net zero economy by 2050. To this end, the partnership will
                provide an initial US$600 million to launch a series of late stage venture capital and early
                growth private equity investment funds.
            </p>
        </div>
        <div class="col-4 v-centre contentpage--hidden-mobile">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    We have redirected part of our long term incentives towards our <span class="no-break">10-year</span> carbon reduction targets.
                </p>
            </div>
        </div>
    </div>

    <p>
        We partnered Mandai Park Holdings to <a href="https://www.temasek.com.sg/en/news-and-views/news-room/news/2020/temasek-mandai-park-holdings-establish-mandai-nature" target="_blank" rel="noopener noreferrer">co-sponsor Mandai Nature Fund</a>, a non-profit Institution of a Public
        Character (IPC). This IPC will support partnerships and co-sponsorships for nature conservation
        and climate change mitigation in Asia.
    </p>

    <p>
        In 2019, we worked with <a href="https://www.temasektrust.org.sg/" target="_blank" rel="noopener noreferrer">Temasek Trust</a> and other co-investors to launch <a href="https://www.abcworld.com.sg/" target="_blank" rel="noopener noreferrer">ABC World Asia</a> for impact
        and returns in Asia. Our recent <a href="https://www.temasek.com.sg/en/news-and-views/news-room/news/2021/Temasek-and-LeapFrog-Investments-Forge-US500-Million-Partnership" target="_blank" rel="noopener noreferrer">strategic partnership with LeapFrog Investments</a> will similarly catalyse solutions and unlock benefits for communities around the world.
    </p>


    <h2 class="dash-above margin-top70" data-quick-links-item="In Appreciation" id="in-appreciation">
        In Appreciation
    </h2>

    <p>
        I am heartened by the incredible adaptability and resilience of our Temasek team. They did not let
        up in our core responsibilities, even as they <a href="/institution/our-temasek-heartbeat.html">volunteered for many pandemic relief projects</a> around
        the world. I salute them.
    </p>

    <p>
        <a href="/steward/sharing-perspectives.html">Our international and regional advisors</a> have been, as always, generous with their insights and advice,
        to help us navigate an uncertain future. I am most grateful to them all.
    </p>

    <p>
        It is my great pleasure to welcome Lou Jiwei to our Temasek International Panel in April. He brings
        with him an incisive mind and a wealth of experience, including in macroeconomic and sectoral
        developments.
    </p>

    <p>
        We <a href="https://www.temasek.com.sg/en/news-and-views/news-room/news/2021/leadership-transition-at-temasek-holdings" target="_blank" rel="noopener noreferrer">announced</a> earlier this year that Ho Ching will retire from her role as Executive Director and CEO
        on <span class="no-break">1 October 2021</span>. Words cannot adequately express the collective debt of thanks we owe to her for her
        remarkable leadership over almost two decades. It is hard to call out her many achievements, but
        perhaps above all else, she will be remembered for her unwavering commitment to build the people
        and our <span class="no-break">values-based</span> ethos in Temasek. She also oversaw Temasek&rsquo;s evolution into a respected and
        trusted global investor and institution, and sharpened our role as a steward.
    </p>

    <p>
        Dilhan Pillay will succeed her as Executive Director and CEO of Temasek Holdings on 1 October 2021
        and will join the Temasek Holdings Board. He will concurrently retain his appointment as CEO of
        Temasek International. The Board looks forward to supporting him and his team in <a href="https://www.temasek.com.sg/en/sustainability" target="_blank" rel="noopener noreferrer">our journey towards T2030</a>.
    </p>

    <p>
        Lee Theng Kiat will also retire as Executive Director of Temasek Holdings on 1 October 2021, but
        will remain on the Temasek Holdings Board as a non-executive Director. He will continue as Chairman
        of Temasek International, our investment management arm, to help guide our Temasek team,
        as he has done over nearly a decade in various leadership roles with us.
    </p>

    <p>
        I am deeply grateful to Goh Yew Lin, who retired on 30 June 2021 after 16 years of service. We are
        pleased that he has taken on the Chairmanship of <a href="https://www.sevioragroup.com/" target="_blank" rel="noopener noreferrer">Seviora</a>, our newly consolidated asset management group.
    </p>

    <p>
        Finally, I thank my fellow Directors for their continuing commitment to Temasek, especially in such
        challenging times. I deeply value their counsel, and the perspectives they bring, as we safeguard
        the governance and fulfil <a href="/overview/the-temasek-charter.html">the promise of Temasek</a>.
    </p>

    <p>
        Temasek has evolved and transformed over the years, seeking always to remain relevant. We have a <a href="/overview/onetemasek-our-people.html">strong team</a> with diverse skills and competencies, and a deep sense of purpose.
    </p>

    <p>
        Temasek is well positioned to <a href="../index.html">bounce <em>forward</em></a> &ndash; into a world of new opportunities created by
        technological change, and driven by an urgent need to address our global climate emergency.
    </p>

    <p>I know we can and will act with courage and conviction, to deliver a better and more sustainable future for all.</p>

    <br />

    <img src="/images/contentpage/sign-limboonheng.png" alt="Sign Lim Boon Heng" title="sign Lim Boon Heng" width="198" style="margin-left:0;" />

    <h3>LIM BOON HENG</h3>
    <p>
        Chairman
    </p>
    <p>
        July 2021
    </p>



</div>