---
layout: layouts/base.njk
slug: post-inner
---
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}" class-     />

<div class="container">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        <a href="/posts">Blog List</a>
        <span>{{ title }}</span>
    </div>

    <h2 class="heading">{{ title }}</h2>
    <p class="subheading">{{ date }}</p>

    {{ content | safe }}
</div>