---
layout: "/layouts/overview/index.njk"
unique_slug: "performance-overview"
---

<div class="contentpage-body">
    <section class="contentpage--section contentpage--section-chart spacing-adjust remove-margin flow-ignore">
        <div class="row chart-row no-padding-top">
            <div class="contentpage--section-chart-single col-12">
                <div class="date-wrapper">
                    <p class="date">sas</p>
                </div>
                <h4 id="net-portfolio-value" data-quick-links-item="{{ net_porfolio_value['title'] }}" class="header">
                    S$381b</h4>
                <h5 class="subheader">Net portfolio value</h5>
                <p class="paragraph">Up S$188 billion over the last decade<br /><br /></p>
                <h5 class="title">Net Portfolio Value (S$b)</h5>
                <div class="chart-container" id="performance-overview_net-portfolio-value">
                    <div id="chart_net-portfolio-value" class="chart-display-desktop hidden-mobile"></div>
                    <div class="chart-display-mobile hidden-desktop reduced">
                        <img src="/images/overview/performance-overview/net-portfolio-value-m.svg"
                            alt="Net Portfolio Value" />
                    </div>
                </div>
                <div class="navigation">
                    <p class="navigation-title">
                        <a href="/investor/how-we-grew.html" class="arrow-tail-right"
                            id="net-portfolio-value_find-out-more">
                            <span>Find out more about Temasek's Net Portfolio Value since Inception</span>
                            <span class="tr-icon arrow-tail-right-after"></span>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </section>
</div>