---
layout: "/layouts/overview/index.njk"
unique_slug: "portfolio-highlights"
---
{% include '../includes/socialshare-quick-links.njk' %}

<div class="contentpage-body">
    <div id="portfolio-highlights_geography" class="chart-container tableau-table flow-ignore">
        <a id="geography" data-quick-links-item="Geography"></a>
        <a id="sector" data-quick-links-item="Sector"></a>
        <a id="liquidity" data-quick-links-item="Liquidity"></a>
        <a id="currency" data-quick-links-item="Currency"></a>
        <a id="single-name" data-quick-links-item="Single Name"></a>
        <div class="tableau-table">
            <iframe id="portfolio" src="/vslashr/th_donuts/app/portfolio.html#geography" frameborder="0" style="width:100%; box-sizing:border-box; margin:0 auto; padding:0;" scrolling="no" title="Portfolio"></iframe>
            <script src="/vslashr/th_common/assets/js/iframeResizer.min.js" ></script>
            <script type="text/javascript">iFrameResize({ checkOrigin: true, log: false }, "iframe#portfolio");</script>
        </div>
    </div>
    
</div>