---
layout: "/layouts/overview/index.njk"
---

<div class="contentpage-body">

     <ul class="the-charter flow-ignore">
     {% for item in sections %}
        <li class="{{ item['theme'] }}">
            <div class="the-charter__image">
                <img src="{{ item['image'] | url }}" alt="active-investor-{{ loop.index }}">
            </div>
            <div class="the-charter__content">
                <h3 id="active-investor" data-quick-links-item="An Active Investor">
                    {{ item['title'] }}
                </h3>

                <p>
                   {{ item['writeup'] | markdown | safe }}
                </p>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>