---
layout: "/layouts/pathways-to-sustainability/index.njk"
---
<div class="contentpage-body dash-above">
    {% for content in main_content %}
        {% if content['title'] %}
            <h2 class="dash-above fadeup" data-quick-links-item="{{ content['title'] | safe }}" id="section-{{ loop.index }}">
                    {{ content['title'] | safe }}</h2>
        {% endif %}

        {% if content['writeup'] %}
            {{ content['writeup'] | markdown | safe }}
        {% endif %}

        {% if content['image'] %}
        <div class="medialine">
            <picture>
                <source media="(min-width: 768px)" srcset="{{ content['image'] | url }}" />

                <img src="{{ content['image'] | url }}" alt=" InnovaFeed staff check a tray" />
            </picture>
            <div class="medialine-caption">
                {{ content['image_caption'] | safe }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>