---
layout: "/layouts/investor/index.njk"
---

<div class="contentpage-body dash-above">
    {% if section_1['title'] %}
        <h2 class="dash-above" data-quick-links-item="{{ section_1['title'] | safe }}" id="{{ section_1['quicklink_id'] }}">{{ section_1['title'] | safe }}</h2>
    {% endif %}
    {% for item in section_1['content'] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}
    {% endfor %}

    {% if section_2['title'] %}
        <h2 class="dash-above" data-quick-links-item="{{ section_2['title'] | safe }}" id="{{ section_2['quicklink_id'] }}">{{ section_2['title'] | safe }}</h2>
    {% endif %}
    {% for item in section_2['content'] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}

        {% if loop.index == 1 %}
         <table class="investor simple managing-risk">
            <colgroup>
                <col style="width:25.00%;" />
                <col style="width:75.00%;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>RRAS 1</th>
                    <td>We have no tolerance for risks that could damage Temasek&rsquo;s reputation and
                        credibility
                    </td>
                </tr>
                <tr>
                    <th>RRAS 2</th>
                    <td>We focus on performance over the long term</td>
                </tr>
                <tr>
                    <th>RRAS 3</th>
                    <td>We have flexibility to take concentrated positions</td>
                </tr>
                <tr>
                    <th>RRAS 4</th>
                    <td>We maintain a resilient balance sheet</td>
                </tr>
                <tr>
                    <th>RRAS 5</th>
                    <td>We evaluate the potential for sustained loss of overall portfolio value over prolonged
                        periods and use different scenarios to test our resilience</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

    {% endfor %}

    <div class="chart no-bottom-margin chart-container"
        id="how-we-manage-risk_illustration-of-fundamental-earnings-impact">
        {% if section_3['title'] %}
            <h2 class="dash-above" data-quick-links-item="{{ section_3['title'] | safe }}" id="{{ section_3['quicklink_id'] }}">{{ section_3['title'] | safe }}</h2>
        {% endif %}
        <div class="" id="chart_tgem5"></div>
    </div>
    
    {% for item in section_3['content'] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}
    {% endfor %}
   
    {% if section_4['title'] %}
        <h2 class="dash-above" data-quick-links-item="{{ section_4['title'] | safe }}" id="{{ section_4['quicklink_id'] }}">{{ section_4['title'] | safe }}</h2>
    {% endif %}
    
    <div class="image-lightbox chart-container" id="how-we-manage-risks_vix-trend">
        <img src="{{ section_4['vix_image'] | url }}" alt="vix-chart"
            class="vix-trend" />
        <a href="#" class="lightbox-button link-button"
            data-featherlight="{{ section_4['vix_image_large'] | url }}">Click to
            enlarge</a>
    </div>
    
    {% if section_5['title'] %}
        <h2 class="dash-above" data-quick-links-item="{{ section_5['title'] | safe }}" id="{{ section_5['quicklink_id'] }}">{{ section_5['title'] | safe }}</h2>
    {% endif %}
    {% for item in section_5['content'] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}
    {% endfor %}

    {% if section_6['title'] %}
        <h2 class="dash-above" data-quick-links-item="{{ section_6['title'] | safe }}" id="{{ section_6['quicklink_id'] }}">{{ section_6['title'] | safe }}</h2>
    {% endif %}
    {% for item in section_6['content'] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}
    {% endfor %}

</div>