---
layout: "/layouts/investor/index.njk"
---

<div class="contentpage-body dash-above">

    {% for item in section_1['content'][0] %}

        {% if item['highlight'] %}
            <div class="contentpage-blockquote-row row highlight-below">
                <div class="col-8">
                    {{ item['writeup'] | markdown | safe }}
                    <div class="contentpage-highlight contentpage--hidden-desktop contentpage-mobile--m-t-10">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
                
                {% if item['center'] == "true" %}
                <div class="col-4 v-centre">
                {% else %}
                <div class="col-4">
                {% endif %}
                    <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-mobile">
                        {{ item['highlight'] | markdown | safe }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ item['writeup'] | markdown | safe }}
        {% endif %}
    {% endfor %}

    <h2 class="dash-above" data-quick-links-item="Organisational Risk Management Framework"
        id="organisational-risk-management-framework">Organisational Risk Management Framework</h2>
    <p>
        Our Organisational Risk Management Framework includes Risk Return Appetite Statements (RRAS) which
        set out various levels of risks tolerance, from reputational risk, to liquidity risk and sustained
        loss of overall portfolio value over prolonged periods.
    </p>
    <table class="investor simple managing-risk">
        <colgroup>
            <col style="width:25.00%;" />
            <col style="width:75.00%;" />
        </colgroup>
        <tbody>
            <tr>
                <th>RRAS 1</th>
                <td>We have no tolerance for risks that could damage Temasek&rsquo;s reputation and
                    credibility
                </td>
            </tr>
            <tr>
                <th>RRAS 2</th>
                <td>We focus on performance over the long term</td>
            </tr>
            <tr>
                <th>RRAS 3</th>
                <td>We have flexibility to take concentrated positions</td>
            </tr>
            <tr>
                <th>RRAS 4</th>
                <td>We maintain a resilient balance sheet</td>
            </tr>
            <tr>
                <th>RRAS 5</th>
                <td>We evaluate the potential for sustained loss of overall portfolio value over prolonged
                    periods and use different scenarios to test our resilience</td>
            </tr>
        </tbody>
    </table>

    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                To minimise operational risks, we embed risk management in our systems and processes. These
                include
                our approval authority delegation, company policies, standard operating procedures and risk
                reporting to our Board.
            </p>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    Formalised processes instil the discipline to consider various perspectives, including ESG risks.
                </p>
            </div>
            <p>
                Formalised processes instil the discipline to consider various perspectives,
                including Environmental, Social and Governance (ESG) risks.
                These include climate risks, both transition and physical, as an integral part of
                these processes. For example, we now apply an internal <a href="/pathways-to-sustainability/putting-a-price-on-carbon.html">carbon price</a> of US$42 per tonne of
                carbon dioxide equivalent (<span class="tooltip"
                    title="tCO<sub>2</sub>e refers to tonnes of carbon dioxide equivalent, a standard unit used in greenhouse gases emissions accounting and reporting"
                    data-title="tCO<sub>2</sub>e refers to tonnes of carbon dioxide equivalent, a standard unit used in greenhouse gases emissions accounting and reporting">tCO<sub>2</sub>e</span>)
                    in our investment evaluations in order to account for
                the potential exposure of an investment to transition risk.
            </p>
        </div>
        <div class="col-4 v-centre contentpage--hidden-mobile">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    Formalised processes instil the discipline to consider various perspectives, including ESG risks.
                </p>
            </div>
        </div>
    </div>
    <p>
        Investment proposals to our investment committee are submitted under a two-key system, for instance
        by both market and sector teams. Depending on the size or risk significance, these proposals may be
        escalated to our Executive Committee or Board for final decision. Functional teams provide
        additional specialist perspectives and independent reviews. Country and sector risks are factored
        into our risk-adjusted cost of capital for each investment. Our valuation discipline is based on our
        view on intrinsic value over varying investment horizons.
    </p>
    <p>
        We track and manage risks proactively, through economic and market cycles, including specific risks
        at asset level.
    </p>
    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                We assess the sustained impact of various risk scenarios on the intrinsic value of our
                investments.
                The aggregate of these changes provides an estimate of the portfolio level variation in
                present
                value and future income in each scenario.
            </p>
        </div>
        <div class="col-4 v-centre">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    We do not manage our portfolio to short term mark to market changes.
                </p>
            </div>
        </div>
    </div>
    <p>
        As illustrated in the below diagram, fundamental earnings impact is our estimate of sustained loss.
        This is different from trough impact, which includes mark to market effects due to short term
        increases in risk aversion. We do not manage our portfolio to short term mark to market changes.
    </p>

    <div class="chart no-bottom-margin chart-container"
        id="how-we-manage-risk_illustration-of-fundamental-earnings-impact">
        <h2 class="dash-above" id="illustration-of-fundamental-earnings-impact"
            data-quick-links-item="Illustration of Fundamental Earnings Impact">Illustration of Fundamental
            Earnings Impact</h2>
        <div class="" id="chart_tgem5"></div>
    </div>
    <p>
        Based on our assessments of any likely sustained loss, consistent with our intrinsic value
        discipline, we may manage the risks as follows:
    </p>
    <ul class="disc">
        <li>
            Divest, hold or protect the individual investment impacted;
        </li>
        <li>
            Change the portfolio composition for the long run;
        </li>
        <li>
            Take actions to protect the portfolio.
        </li>
    </ul>
    <p>
        In addition to scenario-based stress tests, we also monitor general market risk indicators such as
        the <span class="tooltip" title="Chicago Board Options Exchange"
            data-title="Chicago Board Options Exchange">CBOE</span> Volatility Index (VIX).
    </p>
    <h2 id="vix-trend-and-var" data-quick-links-item="VIX Trend (March 2005 to March 2021)"
        class=" dash-above" style="margin-top: 39px;">
        VIX Trend (March 2005 to March 2021)
    </h2>

    <div class="image-lightbox chart-container" id="how-we-manage-risks_vix-trend">
        <img src="/images/investor/how-we-manage-risks/managing-risk.svg" alt="vix-chart"
            class="vix-trend" />
        <a href="#" class="lightbox-button link-button"
            data-featherlight="/images/investor/how-we-manage-risks/managing-risk-enlarged.svg">Click to
            enlarge</a>
    </div>
    <h2 class="dash-above" data-quick-links-item="Legal &amp; Regulatory" id="legal-and-regulatory">Legal
        &amp; Regulatory</h2>

    <p>
        We comply with all obligations under Singapore laws and regulations, including those arising from
        international treaties and UN sanctions. We also comply with the laws and regulations of
        jurisdictions where we have investments or operations.
    </p>
    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                Our global footprint, coupled with an ever-evolving legal and regulatory environment and
                increasing
                oversight by authorities, underscores the importance of robust compliance programmes.
            </p>
            <div class="contentpage-highlight contentpage-mobile--m-t-10 contentpage--hidden-desktop">
                <p>
                    We comply with the laws and regulations of jurisdictions where we have investments or
                    operations.
                </p>
            </div>
            <p>
                Our Legal &amp;
                Regulatory (LR) department ensures that policies, processes and systems are appropriately
                designed,
                consistent with applicable laws, and aligned with Board directives. For instance, our policy
                on
                derivative transactions permits only personnel authorised by a board resolution to enter
                into such
                transactions within <span class="nowrap">tightly-defined</span> scopes and limits on behalf of specific designated
                entities.
            </p>
        </div>
        <div class="col-4 v-centre contentpage--hidden-mobile">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    We comply with the laws and regulations of jurisdictions where we have investments or
                    operations.
                </p>
            </div>
        </div>
    </div>
    <div class="contentpage-blockquote-row row highlight-below">
        <div class="col-8">
            <p>
                LR monitors regulatory reporting compliance through securities tracking systems. Regulatory
                requirements and monitoring systems are continually reviewed and updated to reflect changes
                in laws
                and regulations.
            </p>
            <p>
                We encourage and facilitate the development of a sound corporate culture that incentivises
                good
                staff behaviour. High ethical standards and compliance with applicable laws and regulations
                are
                expected in the pursuit of our business interests. Specific attention is directed at
                governance,
                incentive systems and training.
            </p>
        </div>
        <div class="col-4 v-centre">
            <div class="contentpage-highlight contentpage-mobile--m-t-10">
                <p>
                    Our policy permits only personnel authorised by a board resolution to enter into
                    derivatives transactions within tightly-defined scopes and limits.
                </p>
            </div>
        </div>
    </div>
    <p>
        At the core of this is our Temasek Code of Ethics and Conduct (T-Code) and its related policies that
        guide our Board directors and staff in their daily dealings and conduct. With integrity as a key
        overarching principle, <span class="no-break">T-Code</span> policies cover areas such as
        anti-bribery, whistle-blowing, management of confidential information, and prohibition against
        insider trading. <a href="/institution/instilling-ownership.html">Our annual staff bonus plans</a> include T-Code compliance requirements.
    </p>

    <h2 class="dash-above margin-top70" data-quick-links-item="Business Continuity and Incident Management"
        id="business-continuity-and-incident-management">Business Continuity and Incident Management</h2>

    <p>
        We are committed to continuously improve the way we manage business continuity risks.
    </p>
    <p>
        Our contingency management framework ensures business continuity and manages incidents arising from
        safety, physical security, cybersecurity, and other threats. The framework takes into account the
        potential impact of emerging risks and new responses enabled by technological advancements. We
        monitor security, safety and health situations around the world daily when emergencies occur. This
        allows us to support our staff wherever they are based.
    </p>
    <p>
        We conducted response exercises regularly over the year to ensure that our contingency plans remain
        effective, relevant, and adequate, including responses to failure of critical infrastructure and
        cyber-related risks. We constantly work on improving our capabilities to ensure that critical
        business functions can resume functioning in a timely manner during times of emergencies. This is to
        minimise disruption to our work and operations.
    </p>
    <p>
        Since the start of the COVID-19 outbreak, our Business Continuity and Technology teams have been
        supporting Temasek staff all over the world to adapt to long periods of working from home. Efforts
        were made to ensure staff remain effective working from home and to ensure their physical and
        psychological well-being through regular touchpoints. We provided care packages which included
        essential supplies such as masks, health supplements, wellness equipment, and additional IT
        equipment to all our employees around the world. We communicated regularly with them on
        developments, particularly with specific guidance on the COVID-19 impact in their locations.
    </p>
    <p>
        We continue to work with our ecosystem partners, including our portfolio companies and various
        government agencies, to <a href="/steward/rising-above-covid-19.html">support the local responses to the COVID-19 outbreak</a> and to protect
        and
        safeguard our people and affected communities, both locally and overseas. Our staff have also
        stepped forward to volunteer in large numbers to support wider COVID-19 initiatives led by the firm,
        including assisting with swabbing exercises at foreign worker dormitories in Singapore.
    </p>

</div>