---
layout: "/layouts/investor/index.njk"
unique_slug: "how-we-grew"
---
<div class="contentpage-body dash-above">
    {{ writeup | markdown | safe }}
    <div class="row">
        <div class="col-12">
            <h2 class="dash-above" data-quick-links-item="S$ Total Shareholder Return (%)" id="tsr">S$ Total
                Shareholder Return (%)</h2>
            <div id="total-shareholder_tsr" class="chart-container ed-content-wrapper">
                <div class="ed-chart"></div>
                <div class="ed-desc"></div>
            </div>
        </div>
    </div>
</div>