<footer>
    <div class="outer">
        <div class="inner">
            <div class="globe-outer">
                <div class="globe-inner">
                    <video playsinline="" data-keepplaying="" autoplay="true" loop="true" muted="true" >
                        <source src="/images/globe-3d/globe.mp4" type="video/mp4" />
                        <source src="/images/globe-3d/globe.webm" type="video/webm" />
                        <p>Rotating Globe animation.</p>
                    </video>
                </div>
            </div>
            <div class="row cols">
                <div class="col-3 temasek">
                    <a href="https://www.temasek.com.sg/" target="_blank" rel="noopener noreferrer"><img src="/images/logos/temasek.png" alt="Temasek" /></a>
                </div>
                <div class="col-2 links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li>
                            <a href="/overview/from-our-chairman.html">From Our Chairman</a>
                        </li>
                        <li>
                            <a href="/overview/performance-overview.html">Performance Overview</a>
                        </li>
                        <li>
                            <a href="/overview/portfolio-highlights.html">Portfolio Highlights</a>
                        </li>
                        <li>
                            <a href="/overview/towards-a-net-zero-world.html">Towards a Net Zero World</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 links">
                    <h2>Useful Resources</h2>
                    <ul>
                        <li>
                            <a href="/media-centre/videos.html">Videos</a>
                        </li>
                        <li>
                            <a href="/media-centre/chart-centre.html">Chart Centre</a>
                        </li>
                        <li>
                            <a class="nowrap--till-iPad" href="/downloads/Temasek-Review-2021-Highlights.pdf" rel="noopener noreferrer" target="_blank">Download <span>Temasek Review 2021 Highlights</span></a>
                        </li>
                        <li>
                            <a href="/sitemap.html">Site Map</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 channels">
                    <h2>Our Channels</h2>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/temasekholdings" class="tr-icon facebook-before" target="_blank" rel="noopener noreferrer">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/temasek-holdings" class="tr-icon linkedin-before" target="_blank" rel="noopener noreferrer">Linkedin</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/temasek" class="tr-icon twitter-before" target="_blank" rel="noopener noreferrer">Twitter</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/temasekseen/" class="tr-icon instagram-before" target="_blank" rel="noopener noreferrer">Instagram</a>
                        </li>
                        <li class="wide">
                            <a href="https://www.youtube.com/user/temasekdigital" class="tr-icon youtube-before" target="_blank" rel="noopener noreferrer">Youtube</a>
                        </li>
                        <li>
                            <a href="#" class="tr-icon wechat-before wechat-popup" target="_blank" rel="noopener noreferrer">Messenger</a>
                        </li>
                        <li>
                            <a href="https://t.me/temasekholdings" class="tr-icon telegram-before" target="_blank" rel="noopener noreferrer">Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row legal">
                <div class="col-3 empty"></div>
                <div class="col-8 services">
                    <ul>
                        <li>
                            <a href="/legal-notice.html">Legal Notice</a>
                        </li>
                        <li>
                            <a href="/privacy.html">Privacy</a>
                        </li>
                        <li>
                            <a href="/accessibility.html">Accessibility</a>
                        </li>
                        <li>
                            <a href="/contacts.html">Contacts</a>
                        </li>
                        <li>
                            <a href="/acknowledgements.html">Acknowledgements</a>
                        </li>
                    </ul>
                    <p>Copyright &copy; 2021 Temasek Holdings (Private) Limited</p>
                </div>
                <div class="wechat-code">
                    <p class="tr-icon wechat-before">Official Account:&#x6DE1;&#x9A6C;&#x9521;</p>
                    <a href="weixin://dl/chat?temasek_digital"><img src="/images/wechat-qr-code.png" width="176" height="176"  alt="WeChat link QR code" /></a>
                    <p class="instructions">For more information, <br />scan the QR code</p>
                    <button></button>
                </div>
            </div>
        </div>
    </div>
</footer>
