<header class="main-header">
    <div class="main-header__wrapper">
        <nav id="navMenu" role="navigation" class="main-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="mobile-links">
                <ul class="mobile-links--left">
                    <li>
                        <a class="current">ENGLISH</a>
                    </li>
                    <li>
                        <a href="/zh/">&#x4E2D;&#x6587;</a>
                    </li>
                </ul>
                <ul class="mobile-links--right">
                    <li>
                        <a href="/media-centre/downloads.html" class="header-download-link">
                            <span class="tr-icon-Download_2 tr-icon download-before"></span>
                        </a>
                    </li>
                    <li>
                        <div class="tools">
                            <div class="cookieConsent">
                                <a class="tool-cookieConsent">
                                    <span class="tr-icon cookie-before"></span>
                                </a>
                            </div>
                            <div class="share sharelink">
                                <a id="share-mob" class="tool-share">
                                    <span class="tr-icon-Share tr-icon share-before"></span>
                                </a>
                                <div class="share-links-menu" data-url="">
                                    <p class="share-text">Share this page on:</p>
                                    <ul class="share-links">
                                        <li class="facebook">
                                            <span class="tr-icon facebook-before"></span>Facebook</li>
                                        <li class="linkedin">
                                            <span class="tr-icon linkedin-before"></span>LinkedIn</li>
                                        <li class="twitter">
                                            <span class="tr-icon twitter-before"></span>Twitter</li>
                                        <li class="whatsapp">
                                            <span class="tr-icon whatsapp-before"></span>WhatsApp</li>
                                        <li class="telegram">
                                            <span class="tr-icon telegram-before"></span>Telegram</li>
                                        <li class="sina">
                                            <span class="tr-icon weibo-before"></span>Weibo</li>
                                        <li class="tencent">
                                            <span class="tr-icon tencent-before"></span>Tencent</li>
                                        <li class="email">
                                            <a href="mailto:?subject=Temasek%20Review%202021">
                                                <span class="tr-icon email-before"></span>Email</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search">
                                <form class="search-form" method="get" action="../search-results.html">
                                    <input type="text" name="q" value="" placeholder="Search" autocomplete="off" class="search-text"/>
                                    <a class="tr-icon-Search tr-icon search-before search-button" aria-label="Search"></a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <ul>
                <li>
                    <a href="/overview/" itemprop="url" class="has-children">
                        <span itemprop="name">Overview</span></a>
                    <button type="button" class="menu-btn-0 overview-menu-btn">
                        <span class="tr-icon arrow-open-up-after"></span></button>
                    <ul style="max-height: 0px;">
                        <li>
                            <a href="/overview/from-our-chairman.html" itemprop="url">
                                <span itemprop="name">From Our Chairman</span></a>
                        </li>
                        <li>
                            <a href="/overview/the-temasek-charter.html" class="active" itemprop="url">
                                <span itemprop="name">The Temasek Charter</span></a>
                        </li>
                        <li>
                            <a href="/overview/performance-overview.html" itemprop="url">
                                <span itemprop="name">Performance Overview</span></a>
                        </li>
                        <li>
                            <a href="/overview/portfolio-highlights.html" itemprop="url">
                                <span itemprop="name">Portfolio Highlights</span></a>
                        </li>
                        <li>
                            <a href="/overview/our-financials-and-portfolio.html" itemprop="url">
                                <span itemprop="name">Our Financials and Portfolio</span></a>
                        </li>
                        <li>
                            <a href="/overview/towards-a-net-zero-world.html" itemprop="url">
                                <span itemprop="name">Towards a Net Zero World</span></a>
                        </li>
                        <li>
                            <a href="/overview/onetemasek-our-people.html" itemprop="url">
                                <span itemprop="name">
                                    <em>OneTemasek</em>: Our People</span></a>
                        </li>
                        <li>
                            <a href="/overview/uplifting-lives-and-communities.html" itemprop="url">
                                <span itemprop="name">Uplifting Lives and Communities</span></a>
                        </li>
                        <li>
                            <a href="/overview/temasek-portfolio-at-inception.html" itemprop="url">
                                <span itemprop="name">Temasek Portfolio at Inception</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <a href="/" class="main-header__title">Temasek Review 2021</a>

        <div class="main-header__outer">
            <div class="main-header__right">
                <ul class="header-links">
                    <li>
                        <a class="current">ENGLISH</a>
                    </li>
                    <li>
                        <a href="/zh/">&#x4E2D;&#x6587;</a>
                    </li>
                    <li>
                        <a href="/media-centre/downloads.html" class="header-download-link">
                            <span class="tr-icon-Download_2 tr-icon download-before"></span>
                        </a>
                    </li>
                </ul>
                <div class="tools">
                    <div class="cookieConsent">
                        <a class="tool-cookieConsent">
                            <span class="tr-icon cookie-before"></span>
                        </a>
                    </div>
                    <div class="share sharelink">
                        <a id="share-dt" class="tool-share">
                            <span class="tr-icon-Share tr-icon share-before"></span>
                        </a>
                        <div class="share-links-menu" data-url="">
                            <p class="share-text">Share this page on:</p>
                            <ul class="share-links">
                                <li class="facebook">
                                    <span class="tr-icon facebook-before"></span>Facebook</li>
                                <li class="linkedin">
                                    <span class="tr-icon linkedin-before"></span>LinkedIn</li>
                                <li class="twitter">
                                    <span class="tr-icon twitter-before"></span>Twitter</li>
                                <li class="whatsapp">
                                    <span class="tr-icon whatsapp-before"></span>WhatsApp</li>
                                <li class="telegram">
                                    <span class="tr-icon telegram-before"></span>Telegram</li>
                                <li class="sina">
                                    <span class="tr-icon weibo-before"></span>Weibo</li>
                                <li class="tencent">
                                    <span class="tr-icon tencent-before"></span>Tencent</li>
                                <li class="email">
                                    <a href="mailto:?subject=Temasek%20Review%202021">
                                        <span class="tr-icon email-before"></span>Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search">
                        <form class="search-form" method="get" action="../search-results.html">
                            <input type="text" name="q" value="" placeholder="Search" autocomplete="off" class="search-text"/>
                            <a class="tr-icon-Search tr-icon search-before search-button" aria-label="Search"></a>
                        </form>
                    </div>
                </div>
            </div>
            <button class="hamburger hamburger--spin" type="button" aria-label="Menu" aria-controls="navMenu">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</header>