    <!-- picture tag polyfill for ie -->
    <script src="{{ '/scripts/vendors.min.js' | url }}"></script>
    <script src="{{ '/scripts/vendors-defer.min.js' | url }}" ></script>
    <script src="{{ '/scripts/cookieconsent-en.js' | url }}" ></script>
    <script src="{{ '/scripts/all.min.js' | url }}" ></script>

    <script src="{{ '/scripts/gsap-3.6.1.min.js' | url }}" ></script>
    <script src="{{ '/scripts/ScrollToPlugin-3.6.2.min.js' | url }}" ></script>
    <script src="{{ '/scripts/ScrollTrigger-3.6.1.min.js' | url }}" ></script>

    <script src="{{ '/scripts/key-pages.js' | url }}" ></script>
    <script src="{{ '/scripts/homepage.js' | url }}" ></script>