<div class="quicklinks robots-nocontent">
    <button type="button" class="back-to-top quicklinks-button" aria-label="Back to top">
            <i class="tr-icon arrow-tail-up-before"></i>
    </button>


    <div class="share sharelink">
        <div class="share-inner">

            <button type="button" class="tool-share quicklinks-button" aria-label="Share">
                <span class="tr-icon share-before"></span>
            </button>

            <div class="share-links-menu">
                <ul class="share-links">
                    <li class="facebook"><i class="tr-icon facebook-before"></i></li>
                    <li class="linkedin"><i class="tr-icon linkedin-before"></i></li>
                    <li class="twitter"><i class="tr-icon twitter-before"></i></li>
                    <li class="whatsapp"><i class="tr-icon whatsapp-before"></i></li>
                    <li class="telegram"><i class="tr-icon telegram-before"></i></li>
                    <li class="sina"><i class="tr-icon weibo-before"></i></li>
                    <li class="tencent"><i class="tr-icon tencent-before"></i></li>
                    <li class="email"><a href="mailto:?subject=Temasek%20Review%202021"><i class="tr-icon email-before"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="quicknav">
        <button type="button" class="quicknav-button quicklinks-button" name="button">
                <i class="tr-icon submenu-before"></i>
        </button>

        <div class="quicknav-links">
            <p>Jump to</p>
            <ul>

            </ul>
        </div>
    </div>

</div>