    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="apple-mobile-web-app-title" content="Temasek Review 2021" />
    <meta name="application-name" content="Temasek Review 2021" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicons/apple-touch-icon.png' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicons/favicon-32x32.png' | url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicons/favicon-16x16.png' | url }}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/favicons/android-chrome-192x192.png' | url }}" />
    <link rel="mask-icon" href="{{ '/images/favicons/safari-pinned-tab.svg' | url }}" color="#006ba6" />
    <link rel="stylesheet" type="text/css" href="{{ '/styles/animate.min.css' | url }}" />
    <link rel="preload" as="font" type="font/ttf" href="{{ '/fonts/icomoon/icomoon.ttf' | url }}" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff" href="{{ '/fonts/icomoon/icomoon.woff' | url }}" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff" href="{{ '/fonts/BetterTimesSwash.woff' | url }}" crossorigin="anonymous"/>
    <link rel="preload" as="font" type="font/woff" href="{{ '/fonts/BetterTimes.woff' | url }}" crossorigin="anonymous"/>
    <link rel="stylesheet"  type="text/css" href="{{'https://use.typekit.net/vsu7njt.css' | url }}" />
    <link rel="stylesheet"  type="text/css" href="{{ '/styles/dialog-polyfill-0.5.0.css' | url }}" />
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | url }}" />
    <!-- endbuild -->


